{#-
# # SPDX-License-Identifier: GPL-3.0-only
# Copyright (C) 2025 Cloud Society Org.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 3,
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}
# Maintained by Ansible
[Unit]
{% if kafka_is_controller | default(false) | bool %}
{% for key, value in kafka_controller.systemd_service.Unit.items() %}
{% if value and value != '' %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
{% elif kafka_is_broker | default(false) | bool %}
{% for key, value in kafka_broker.systemd_service.Unit.items() %}
{% if value and value != '' %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
{% endif %}

[Service]
{% if kafka_is_controller | default(false) | bool %}
{% for key, value in kafka_controller.systemd_service.Service.items() %}
{% if key != 'Environment' %}
{% if value and value != '' %}
{{ key }}={{ value }}
{% endif %}
{% else %}
{% for env_key, env_value in value.items() %}
{% if env_value and env_value != '' %}
Environment="{{ env_key }}={{ env_value }}"
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% elif kafka_is_broker | default(false) | bool %}
{% for key, value in kafka_broker.systemd_service.Service.items() %}
{% if key != 'Environment' %}
{% if value and value != '' %}
{{ key }}={{ value }}
{% endif %}
{% else %}
{% for env_key, env_value in value.items() %}
{% if env_value and env_value != '' %}
Environment="{{ env_key }}={{ env_value }}"
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

[Install]
{% if kafka_is_controller | default(false) | bool %}
{% for key, value in kafka_controller.systemd_service.Install.items() %}
{% if value and value != '' %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
{% elif kafka_is_broker | default(false) | bool %}
{% for key, value in kafka_broker.systemd_service.Install.items() %}
{% if value and value != '' %}
{{ key }}={{ value }}
{% endif %}
{% endfor %}
{% endif %}