{#-
# # SPDX-License-Identifier: GPL-3.0-only
# Copyright (C) 2025 Cloud Society Org.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 3,
# as published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}
# Maintained by Ansible
{% macro flatten_dict(d, prefix="") %}
{%- for key, value in d.items() -%}
{%- set full_key = (prefix ~ '.' if prefix else '') ~ key -%}
{%- if value is mapping -%}
{{ flatten_dict(value, full_key) }}
{%- else -%}
{%- if value is defined and value != "" and value is not none -%}
{{ full_key }}:{{ value }}
{% endif -%}
{%- endif -%}
{%- endfor -%}
{% endmacro %}

{% if kafka_is_broker | default(false) | bool %}
{{ flatten_dict(kafka_broker_properties) }}
{% elif kafka_is_controller | default(false) | bool %}
{{ flatten_dict(kafka_controller_properties) }}
{% endif %}